
body {
    background-color: #F5A719;
    color: white;
    font-family: myfirstfont;
}

@font-face {
    font-family: myfirstfont;
    src: url(LibreCaslonDisplay-Regular.ttf);
    font-weight: bold;
}

.header {
    background-color: #869ACC;
    height: 100px;
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px 20px 0px 0px;
}

.name {
    display: flex;
    font-size: 400%;
    color: white;
    align-items: center;
    margin-right: auto;
    padding-left: 3%;
}

.nav {
    display:flex;
    color:white;
    margin-left: auto;
    align-items: center;
    font-size: 200%;
    padding-right: 10%;
}

nav ul li {
    display:inline;
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    background-image: url("/Users/briansmacmini2021/Desktop/bootcamp/homework/homework-2/assets/css/background-image.jpeg");
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
    }

.aboutme {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    width: 100%;
    padding-bottom: 40px;
    }

.bio {
    align-items: center;
    font-size: 300%;
    margin-right: 40px;
    margin-left: 20px;
    padding-right: 40px;
    }

.bioparagraph {
    font-size: 150%;
    border-left: 5px solid black;
    padding-left: 40px;
    margin-right: 20px;
    margin-left: 40px
    }


.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    }

.projecttitle {
    font-size: 300%;
    margin-left: 20px;
    }


.projectboxes {
    border-left: 5px solid black;
    margin-left: 40px
    }

.img1 {
    width: 600px;
    height: auto;
    border-radius: 25px;
    position: relative;
    }

.mainproject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    

.figure {
    display: flex;
    flex-flow: column;
}
    
.img {
    width: 250px;
    height: auto;
    border-radius: 25px;
    position: relative;
    }

.figcaption {
    color: #fff;
    text-align: center;
    }


.hero1 {
display: flex;
margin-left: 20px;
margin-right: 20px;
margin-top: 30px;
background-image: url("/Users/briansmacmini2021/Desktop/bootcamp/homework/homework-2/assets/css/background-image.jpeg");
background-color: #cccccc;
height: 50px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 20px 20px 0px 0px;
}

.footer {
    background-color: #869ACC;
    height: 85px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    margin-bottom: 5px;
    border-radius: 0px 0px 20px 20px;
}

.contact {
    display: flex;
    font-size: 250%;
    color: white;
    align-items: center;
    margin-right: auto;
    padding-left: 3%;
}